<div class="ui-g">

    <div class="ui-g-12">
        <span class="ui-g-12 ui-md-3 ui-lg-3">Date:</span>
        <p-calendar (onSelect)="setDateToday()" (onBlur)="setDateToday()" class="ui-g-12 ui-md-8 ui-lg-5" [(ngModel)]="dateToday" dateFormat="dd.mm.yy"></p-calendar>
    </div>

    <div class="ui-g-12">
        <span class="ui-g-12 ui-md-3 ui-lg-3">Start time:</span>
        <input type="time" [(ngModel)]="startTime" required/>
    </div>

    <div class="ui-g-12">
        <span class="ui-g-12 ui-md-3 ui-lg-3">End time:</span>
        <input type="time" [(ngModel)]="endTime" required/>
    </div>

    <div class="ui-g-12">
        <span class="ui-g-12 ui-md-3 ui-lg-3">Choose project:</span>
        <p-dropdown class="ui-g-12 ui-md-3 ui-lg-3" [options]="projectsTest" [(ngModel)]="projectId " required></p-dropdown>
        <p-checkbox class="ui-g-12 ui-md-3 ui-lg-3" [(ngModel)]="businessTrip" label="Business Trip" ></p-checkbox>
        <p-checkbox class="ui-g-12 ui-md-3 ui-lg-3" [(ngModel)]="fieldWork" label="Field Work "></p-checkbox>
    </div>

    <div class="ui-g-12">
        <span class="ui-g-12 ui-md-3 ui-lg-3">Comments:</span>
        <input type="text" pInputText [(ngModel)]="comment" />
    </div>

    <div class="ui-g-12">
        <span class="ui-g-12 ui-md-3 ui-lg-3"></span>
        <button pButton type="button" label="Save"></button>
    </div>
</div>