* {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration-line: none;
    color: #1e73ce;

    &:visited {
        color: #1e73ce;
    }

    &:hover {
        color: #2d65a1;
        text-decoration: underline;
    }
}